.user-callout.promotion-callout.prepend-top-10#promote_squash_commits{ data: { uid: 'promote_squash_commits_dismissed' } }
  .bordered-box.content-block
    %button.btn.btn-default.close.js-close-callout{ type: 'button', 'aria-label' => 'Dismiss merge request promotion' }
      = icon('times', class: 'dismiss-icon', 'aria-hidden' => 'true')
    .user-callout-copy
      %h4
        - if Gitlab::CurrentSettings.should_check_namespace_plan?
          Upgrade your plan to improve Merge Requests with Squash Commit.
        - else
          Improve Merge Requests with Squash Commit and GitLab Enterprise Edition.
      %p
        Squashing lets you tidy up the commit history of a branch when accepting a merge request. It applies all of the changes in the merge request as a single commit, and then merges that commit using the merge method set for the project.
        = link_to 'Read more', help_page_path('user/project/merge_requests/squash_and_merge.html'), target: '_blank'

      = render 'shared/promotions/promotion_link_project'
